In [1]:
# 1. In this final lab, we will model our data. Import sklearn `train_test_split` and separate the data.
# 2. Try a simple linear regression with all the data to see whether we are getting good results.
# 3. Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.
# 4. Use the function to check `LinearRegressor` and `KNeighborsRegressor`.
# 5. You can check also the `MLPRegressor` for this task!
# 6. Check and discuss the results.

In [2]:
import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv(r"C:\Users\Pedro Gomes\Desktop\Filipa_Ironhack\Labs\Python\lab-data-cleaning-and-wrangling\df_copy.csv")
df

,state_Arizona,state_California,state_Oregon,state_other,response_No,response_Yes,gender_F,gender_M,marital_status_Divorced,marital_status_Married,...,policy_type,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,0,0,0,1,1,0,1,0,0,1,...,2,2,2763.519279,56274,69,32,5,0,1,384.811147
1,1,0,0,0,1,0,1,0,0,0,...,1,2,6979.535903,0,94,13,42,0,8,1131.464935
2,0,0,0,1,1,0,1,0,0,1,...,1,2,12887.431650,48767,108,18,38,0,2,566.472247
3,0,1,0,0,1,0,0,1,0,1,...,2,2,7645.861827,0,106,18,65,0,7,529.881344
4,0,0,0,1,1,0,0,1,0,0,...,1,2,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0,1,0,0,1,0,0,1,0,1,...,1,2,23405.987980,71941,73,18,89,0,2,198.234764
9130,0,1,0,0,0,1,1,0,1,0,...,2,2,3096.511217,21604,79,14,28,0,1,379.200000
9131,0,1,0,0,1,0,0,1,0,0,...,2,2,8163.890428,0,85,9,37,3,2,790.784983
9132,0,1,0,0,1,0,0,1,0,1,...,1,3,7524.442436,21941,96,34,3,0,3,691.200000
9133,0,1,0,0,1,0,0,1,0,0,...,2,2,2611.836866,0,77,3,90,0,1,369.600000

# Train Test Split

In [6]:
# Regression: do a X,y split, open the model 
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split

#x, y split
Y = df['total_claim_amount']
X = df.drop(['total_claim_amount'], axis=1)

X = sm.add_constant(X)
model = sm.OLS(Y,X).fit()
model.summary()

# to a train and test split and train the model 

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Linear Regression

In [7]:
# to a train and test split and train the model 
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

lm = linear_model.LinearRegression()
model = lm.fit(X,Y)
lm.score(X,Y)

#make predictions 
predictions = lm.predict(X_test)

print("R2 value is = ",round(r2_score(y_test, predictions),2))

mse = mean_squared_error(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)
print("The mse of the model is = ",mse)
print("The root mse of the model is = ",np.sqrt(mse))
print("The mean absolute error of the model is = ",mae)

R2 value is =  0.62
The mse of the model is =  30309.725778236527
The root mse of the model is =  174.09688618190884
The mean absolute error of the model is =  128.30057525178813

# All Models function

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error, r2_score
import warnings

def train_and_test_models(X_train, X_test, y_train, y_test, models, n_neighbors=5):
    # ignore warnings
    warnings.filterwarnings("ignore")
    
    for model in models:
        if type(model) == KNeighborsRegressor:
            model = KNeighborsRegressor(n_neighbors=n_neighbors)
        
        # Train the model on the training set
        model.fit(X_train, y_train)
        
        # Test the model on the testing set and calculate the mean squared error
        y_pred = model.predict(X_test)
        mse = mean_squared_error(y_test, y_pred)
        
        # Calculate the R-squared score
        r2 = r2_score(y_test, y_pred)
        
        # Print the model name, mean squared error and R-squared score
        print(f"{type(model).__name__}(n_neighbors={n_neighbors}): MSE={mse:.2f}, R2={r2:.2f}")

models = [LinearRegression(), KNeighborsRegressor(), MLPRegressor()]


#call the function
train_and_test_models(X_train, X_test, y_train, y_test, models, n_neighbors=10)
#call the function and change the size ansd random state in the train_test_split and number of neighbors in the knn model.
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.3,random_state=100)
train_and_test_models(X_train, X_test, y_train, y_test, models, n_neighbors=2000)

LinearRegression(n_neighbors=10): MSE=30514.98, R2=0.62
KNeighborsRegressor(n_neighbors=10): MSE=62148.28, R2=0.22
MLPRegressor(n_neighbors=10): MSE=39364.78, R2=0.50
LinearRegression(n_neighbors=2000): MSE=30078.33, R2=0.62
KNeighborsRegressor(n_neighbors=2000): MSE=67962.14, R2=0.15
MLPRegressor(n_neighbors=2000): MSE=38309.17, R2=0.52